html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* header */
.header{
  background-color:rgb(247, 248, 233);
  height:100%;
  width:100%;
  position: relative;
}

/* menubar */
.menubar{
  height:100vh;
  width: 18%;
  background-color: rgb(255, 137, 3);
  color: aliceblue;
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 0;
  position: relative;
}

.menubar .logo{
  font-size: 45px;
  font-family: 'Lobster', cursive;
  font-weight: bolder;
  position:absolute;
top:20px;

}

.logo a {
  color:white;
  text-decoration: none;
  text-align: center;
}

.logo a:hover{
  color:rgb(255, 251, 3);

}

.logo a:active{
  color:rgb(255, 3, 3);


}

.logo a:visited {
  color:rgb(247, 244, 222);
 
}

.menubar ul{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
  align-items: center;
}
.menubar li{
  list-style:none;
  font-size: 30px;
}
/* .menubar .about:hover{
  font-size: 0;
} */
/* .menubar .about:hover:after{
  display:none;
  content: '누구?!';
} */


.header .inner {
  position: absolute;
  top:5%;
  left:40%;

}

.header .table {
  width: 650px;
  height: 650px;
  table-layout: fixed;
  overflow: hidden;
  
}

.header .table img{
  width:90%;
  height:90%;
  border-radius: 7%;
  
}

.header .table h2{
  font-family: 'Gaegu', cursive;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  margin-top: 45%;
}
