/* 공통 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
a b,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position:relative

}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,body{
  width: 100%;

  height: 100%;
  margin: 0;
  padding: 0;

}

.darkmode {
  background-color: rgb(41, 24, 4);
}

/* header */
/* .header {
  background-color: rgb(239, 239, 220);
  height: 100vh;
  width: 100vw;
  position: relative;
} */
.header {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

/* menubar */
.menubar {
  height: 100%;
  width: 20%;
  font-family: "Comfortaa", cursive;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.secSection {
  background-color: rgb(247, 248, 233);
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}

.menuColor {
  background-color: rgb(255, 137, 3);
}

#head {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;

}

body > header > div > div > h1 {
  font-size: 3rem;
  font-family: "Lobster", cursive;
  font-weight: bolder;
  margin-top: 20px;
  animation: myAnim 3s ease 0s 1 normal none;
}
/* body > header > div > div > h1:hover {
  color: rgb(87, 38, 1);
  transform: scale(2);
  transition-duration: 0.5s;
} */
@keyframes myAnim {
  0% {
    transform: scale(0.2);
  }

  100% {
    transform: scale(1);
  }
}

h1 > a,
li > a {
  text-decoration: none;
  color: bisque;
}

.menu > .logo:active {
  color: rgb(255, 196, 0);
}

.menubar-list{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 2rem;
}

.menubar > ul > li:hover,
.menu:hover,
.icons > a > i:hover,
.menu > a:hover {
  color: rgb(87, 38, 1);
  transform: scale(2);
  transition-duration: 0.5s;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top:50px;
  width:75%;


}

.icons > a {
  font: size 0.8rem;;
  color: bisque;
  width:30px;
  padding:0px
}


.changeMode {
  all: unset;
  cursor: pointer;
  font-size: 15px;
  color: rgb(238, 112, 23);
  position:absolute;
  bottom: 30px;
  right: 100px
  
}

.inner{
  width:80%;
  min-width:500px;
  max-width: 650px;
}

.inner > .table {
  /* width: 80%;
  height: 80%; */
  table-layout: fixed;
  overflow: hidden; 
}

.photo {
  width: 300px;
  height: 300px ;
  border-radius: 7%;
}

.hello {
  font-family: "Gaegu", cursive;
  font-size: 55px;
  font-weight: bolder;
  text-align: center;
  display:inline
  
}
.darkmode {
  background-color: rgb(41, 24, 4);
}
